<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Covid Tracer</title>
    <meta name="description" content="The HTML5 Herald"/>
    <meta name="author" content="SitePoint"/>
    <meta
            name="viewport"
            content="width=device-width, minimum-scale=1, maximum-scale=1"
    />

    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
    ></script>

    <!-- Bootstrap -->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JS -->
    <script type=text/javascript src="{{
      url_for('static', filename='js/clusterManagement.js') }}"></script>
</head>

<body>
{% with currentNav='manage-cluster', login=true %}{% include
'commons/navbar.html' %}{% endwith %} {% include 'commons/clusterModal.html'%}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-5">
            <h1>Manage Clusters</h1>
            <p class="text-muted">View detected clusters and run the update cluster function here!</p>
        </div>
        <div class="col-sm-7 ms-auto align-self-start" style="text-align: justify">
            <div>
                <button type="button" class="btn btn-danger" onclick="detectAndUpdateClusters()">
                    Update and Detect Clusters
                </button>
                <p class="text-muted">
                    <small
                    >Update all current clusters and find new clusters base on data.
                    This function may take a long time depending on data.
                    A new cluster is formed when more than 10 infected citizens have been detected to visit a landmark within a 14 day range.
                    If the number of visitors who are infected at a landmark is detected to be less than 10, the cluster is closed. <br>
                    <i>Note that the detection of infected visitors to a landmark does not coincide with the actual number of citizens part of the cluster.
                        This is because citizens can visit multiple landmarks and make multiple visits to the same landmarks as well.</i> </small
                    >
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Date Form</th>
                <th scope="col">Date Close</th>
                <th scope="col">Landmark</th>
                <th scope="col text-center">No. Citizens in Cluster</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cluster in clusters %}
            <tr>
                <td>
                    {% if cluster[1] == 'active' %}
                    <span class="badge rounded-pill bg-danger">Active</span>
                    {% elif cluster[1] == 'closed' %}
                    <span class="badge rounded-pill bg-secondary text">Closed</span>
                    {% endif %}
                </td>

                <td>{{cluster[2]}}</td>
                <td>{{cluster[3]}}</td>
                <th scope="row">{{cluster[0]}}</th>
                <td>{{cluster[4]}}</td>
                <td>
                    <button
                     data-bs-toggle="modal"
                     data-bs-target="#viewCitizensinClusters"
                     type="button"
                     class="btn btn-primary btn-sm"
                     onclick="getCitizensinCluster('{{ cluster[5] }}')"
                    >
                        View Citizens in Cluster
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <nav>
                <ul class="pagination">
                    {% if current_page > 1 %}
                    <li class="page-item">
                        <a
                          class="page-link"
                          href="/manage-cluster?page={{current_page - 1}}"
                          aria-label="Previous"
                        >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %} {% for page in range(num_of_pages) %}
                    <li class="page-item {{'active' if current_page == page+1 }}">
                        <a class="page-link" href="/manage-cluster?page={{page + 1}}"
                        >{{page+1}}</a>
                    </li>
                    {% endfor %} {% if current_page < num_of_pages %}
                    <li class="page-item">
                        <a
                          class="page-link"
                          href="/manage-cluster?page={{current_page + 1}}"
                        >
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>

<script defer></script>
</html>
